### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Build process temporary files
src/main/java/functions/builder/tmp/

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/
modules.xml

# JIRA plugin
atlassian-ide-plugin.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Ignore pid error log files ###
*.log

### Ignore Fat Jar generated with mvn package ####
jar/JMEOS-fat.jar

### ignore maven-shade-plugin generated dependendcy-reduced-pom.xml ###
dependency-reduced-pom.xml

### Jupyter Checkpoints ###
**/.ipynb_checkpoints/

### .mov files ###
*.mov

# CMake
cmake-build-*/jar/
